<a alt="开往-友链接力" href="https://www.travellings.cn/docs/join" target="_blank" rel="noopener" title="开往-友链接力"><img
        src="https://www.travellings.cn/assets/logo.gif"></a>
<a href="https://www.foreverblog.cn/go.html" target="_blank"> <img src="https://img.foreverblog.cn/wormhole_2.gif"
        alt="" style="width:auto;height:32px;" title="穿梭虫洞-随机访问十年之约友链博客"></a>
<br>
<a alt="not ai" href="https://notbyai.fyi" target="_blank" title="Not By AI"><img src="/res/Written-By-Human-Not-By-AI-Badge-white.svg" ></a>
<a alt="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0" target="_blank" title="CC BY-NC-SA 4.0"><img src="/res/by-nc-sa.svg"></a>


<a href="https://myssl.com/blog.antio2.cn?from=mysslid" target="_blank" title="SSL Seal"><img src="https://static.myssl.com/res/images/myssl-id1.png"
        alt=""></a>
