<a alt="not ai" href="https://notbyai.fyi" target="_blank" ><img src="/res/Written-By-Human-Not-By-AI-Badge-white.svg" ></a>
<a alt="license" href="https://creativecommons.org" target="_blank"><img src="/res/by-nc-sa.svg"></a>
<a alt="开往-友链接力" href="https://www.travellings.cn/docs/join" target="_blank" rel="noopener" title="开往-友链接力"><img src="https://www.travellings.cn/assets/logo.gif"></a>

<script language="JavaScript" type="text/javascript">
    TrustLogo("https://blog.antio2.cn/res/sectigo_trust_seal_sm_82x32.png", "CL1", "none");
</script>
<a href="https://ssl.comodo.com/free-ssl-certificate.php" id="comodoTL">Free SSL</a>