module:
    hugoVersion:
        extended: true
        min: "0.87.0"
menu:
    social:
        - identifier: github
          url: https://github.com/antio2
          weight: -100
          params:
            icon: brand-github
            newTab: true
        - identifier: mail
          url: mailto:antio2@qq.com
          weight: -97
          params:
            icon: mail
            newTab: true
        - identifier: steam
          url: https://steamcommunity.com/id/AntiO2/
          weight: -99
          params:
            icon: brand-steam
            newTab: true



params:
    mainSections:
        - blog
        - tech
    featuredImageField: image
    rssFullContent: true
    favicon: /favicon.ico

    footer:
        since: 2017
        customText: <a href="https://beian.miit.gov.cn/#/" target="_blank" rel="noopener">蜀ICP备2021028514号-2</a>

    dateFormat:
        published: Jan 02, 2006
        lastUpdated: Jan 02, 2006 15:04 MST

    sidebar:
        compact: false
        emoji: ☀️
        subtitle: 笑的哭的错的对的终究结束了
        avatar:
            enabled: true
            local: true
            src: img/avatar.jpg

    article:
        math: true
        toc: true
        readingTime: true
        license:
            enabled: true
            default: Licensed under CC BY-NC-SA 4.0

    comments:
        enabled: true
        provider: giscus

        disqusjs:
            shortname:
            apiUrl:
            apiKey:
            admin:
            adminLabel:

        utterances:
            repo:
            issueTerm: pathname
            label:

        remark42:
            host:
            site:
            locale:

        vssue:
            platform:
            owner:
            repo:
            clientId:
            clientSecret:
            autoCreateIssue: false

        # Waline client configuration see: https://waline.js.org/en/reference/client.html
        waline:
            serverURL:
            lang:
            visitor:
            avatar:
            emoji:
                - https://cdn.jsdelivr.net/gh/walinejs/emojis/weibo
            requiredMeta:
                - nick
                - mail
            placeholder:
            locale:
                admin: Admin

        twikoo:
            envId:
            region:
            path:
            lang:

        giscus:
            repo: AntiO2/antio2.github.io
            repoID: R_kgDOKDW2jw
            category: Comment
            categoryID: DIC_kwDOKDW2j84Cck6E
            mapping: pathname
            strict: 0
            lightTheme: https://cdn.jsdelivr.net/gh/AntiO2/giscus-theme@v0.1/light.css
            darkTheme: noborder_gray
            reactionsEnabled: 1
            emitMetadata: 0
            inputPosition: top
            lang: zh-CN

        gitalk:
            owner:
            admin:
            repo:
            clientID:
            clientSecret:

        cusdis:
            host:
            id:

    widgets:
        homepage: [{"type":"search"},{"type":"categories","params":{"limit":10}},{"type":"archives","params":{"limit":10}},{"type":"tag-cloud","params":{"limit":20}}]
        page: [{"type":"toc"}]

    opengraph:
        twitter:
            # Your Twitter username
            site:

            # Available values: summary, summary_large_image
            card: summary_large_image

    defaultImage:
        opengraph:
            enabled: false
            local: false
            src:

    colorScheme:
        # Display toggle
        toggle: true

        # Available values: auto, light, dark
        default: auto

    imageProcessing:
        cover:
            enabled: true
        content:
            enabled: true
