{{ define "main" }}
{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
{{ $filtered := ($pages | intersect $notHidden) }}
{{ $pag := .Paginate ($filtered) }}
<!-- 首页欢迎字幅 -->
<div class="welcome">
    <p style="font-size: 2rem; text-align: center; font-weight: bold">
        <span class="shake2">🐱</span>
        <span class="jump-text1"> Welcome</span>
        <span class="jump-text2"> To </span>
        <span class="jump-text3" style="color:rgb(0, 151, 167)">An</span><span class="jump-text4"
            style="color:rgb(0, 151, 167)">t</span><span class="jump-text5" style="color:rgb(0, 151, 167)">i</span><span
            class="jump-text6" style="color:rgb(0, 151, 167)">O</span><span class="jump-text7"
            style="color:rgb(0, 151, 167)">2</span><span class="jump-text8" style="color:rgb(0, 151, 167)">'s</span>
        <span class="jump-text9" style="color:rgb(0, 151, 167)">Blog</span>
        <span class="shake">🐶</span>
    </p>
</div>
<!-- 首页欢迎字幅 -->
<section class="article-list">
    {{ range $index, $element := $pag.Pages }}
    {{ partial "article-list/default" . }}
    {{ end }}
</section>

{{- partial "pagination.html" . -}}
{{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
{{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}